/* line 2, ../sass/dashboard.scss */
.placeholder img {
  border-radius: 50%;
  display: inline-block;
}

/* line 7, ../sass/dashboard.scss */
.dash-resume {
  margin-top: 20px;
  margin-left: 16px;
  margin-right: 15px;
  background-color: #fff;
  padding-bottom: 20px;
}
/* line 14, ../sass/dashboard.scss */
.dash-resume .resume-cat {
  text-align: center;
  font-family: "Microsoft YaHei" !important;
  width: 20%;
}
/* line 19, ../sass/dashboard.scss */
.dash-resume .resume-cat .resume-bubble {
  height: 150px;
  width: 150px;
  padding-top: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
/* line 27, ../sass/dashboard.scss */
.dash-resume .resume-cat .resume-bubble .title {
  color: #fff;
  font-size: 30px;
  text-align: center;
}
/* line 32, ../sass/dashboard.scss */
.dash-resume .resume-cat .resume-bubble .sep {
  margin: auto;
  width: 80px;
  border: 1px solid #fff;
}
/* line 39, ../sass/dashboard.scss */
.dash-resume .resume-cat.resume-router-shop .resume-bubble {
  padding-top: 55px;
}
/* line 44, ../sass/dashboard.scss */
.dash-resume .resume-cat.resume-shop .resume-bubble {
  background: url("/img/dashboard_bg.png") no-repeat 0px 0px;
}
/* line 47, ../sass/dashboard.scss */
.dash-resume .resume-cat.resume-router-channel .resume-bubble, .dash-resume .resume-cat.resume-router-shop .resume-bubble {
  background: url("/img/dashboard_bg.png") no-repeat -150px 0px;
}
/* line 50, ../sass/dashboard.scss */
.dash-resume .resume-cat.resume-router-status .resume-bubble {
  background: url("/img/dashboard_bg.png") no-repeat -300px 0px;
}
/* line 53, ../sass/dashboard.scss */
.dash-resume .resume-cat.resume-visitor .resume-bubble {
  background: url("/img/dashboard_bg.png") no-repeat -450px 0px;
}
/* line 56, ../sass/dashboard.scss */
.dash-resume .resume-cat.resume-shop > a {
  text-decoration: none;
}
/* line 59, ../sass/dashboard.scss */
.dash-resume .resume-cat.resume-router-channel > a {
  text-decoration: none;
}
/* line 62, ../sass/dashboard.scss */
.dash-resume .resume-cat.resume-router-status > a {
  text-decoration: none;
}
/* line 65, ../sass/dashboard.scss */
.dash-resume .resume-cat.resume-visitor > a {
  text-decoration: none;
}

/* line 71, ../sass/dashboard.scss */
.dash-compare {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 0 15px 0 15px;
}
/* line 76, ../sass/dashboard.scss */
.dash-compare .compare-cat {
  padding: 0 30px;
}
/* line 79, ../sass/dashboard.scss */
.dash-compare .compare-cat .compare-inner {
  background-color: #fff;
  border-left: 3px solid #e2ecf5;
  height: 180px;
}
/* line 84, ../sass/dashboard.scss */
.dash-compare .compare-cat .compare-inner .inner-vertical {
  font-family: "Microsoft YaHei" !important;
  padding: 20px 15px;
}
/* line 90, ../sass/dashboard.scss */
.dash-compare .compare-cat .compare-inner .inner-last-week {
  font-family: "Microsoft YaHei" !important;
  font-size: 25px;
  padding: 20px 0 15px 25px;
  float: none;
}
/* line 95, ../sass/dashboard.scss */
.dash-compare .compare-cat .compare-inner .inner-last-week span {
  font-family: "Myriad Pro Light";
}
/* line 99, ../sass/dashboard.scss */
.dash-compare .compare-cat .compare-inner .sep {
  font-family: "Microsoft YaHei" !important;
  margin-left: 15px;
  border-bottom: 1px solid #e2ecf5;
}
/* line 104, ../sass/dashboard.scss */
.dash-compare .compare-cat .compare-inner .inner-yesterday {
  font-family: "Microsoft YaHei" !important;
  padding: 20px 0px 5px 25px;
  font-size: 20px;
  width: 150px;
}
/* line 110, ../sass/dashboard.scss */
.dash-compare .compare-cat .compare-inner .inner-yesterday span {
  font-family: "Myriad Pro Light";
}
/* line 114, ../sass/dashboard.scss */
.dash-compare .compare-cat .compare-inner .inner-two-days-ago {
  font-family: "Microsoft YaHei" !important;
  padding: 0px 0px 5px 25px;
  font-size: 20px;
  width: 150px;
  float: left;
}
/* line 121, ../sass/dashboard.scss */
.dash-compare .compare-cat .compare-inner .inner-two-days-ago span {
  font-family: "Myriad Pro Light";
}
/* line 125, ../sass/dashboard.scss */
.dash-compare .compare-cat .compare-inner .arrow-container {
  position: relative;
  float: left;
  margin-top: -30px;
}
/* line 130, ../sass/dashboard.scss */
.dash-compare .compare-cat .compare-inner .arrow-container span {
  font-size: 16px;
}
/* line 134, ../sass/dashboard.scss */
.dash-compare .compare-cat .compare-inner .arrow-container .gain-arrow {
  color: #66DA66;
}
/* line 138, ../sass/dashboard.scss */
.dash-compare .compare-cat .compare-inner .arrow-container .drop-arrow {
  color: #da6d43;
}

/* line 181, ../sass/dashboard.scss */
.radial-progress {
  margin: 25px auto;
  width: 120px;
  height: 120px;
  position: relative;
  background-color: #d7d7d7;
  border-radius: 50%;
}
@media (max-width: 480px) {
  /* line 181, ../sass/dashboard.scss */
  .radial-progress {
    width: 85px;
    height: 85px;
  }
}
/* line 202, ../sass/dashboard.scss */
.radial-progress .circle .mask, .radial-progress .circle .fill, .radial-progress .circle .shadow {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
}
@media (max-width: 480px) {
  /* line 202, ../sass/dashboard.scss */
  .radial-progress .circle .mask, .radial-progress .circle .fill, .radial-progress .circle .shadow {
    width: 85px;
    height: 85px;
  }
}
/* line 212, ../sass/dashboard.scss */
.radial-progress .circle .mask, .radial-progress .circle .fill {
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 1s;
  transition: -ms-transform 1s;
  transition: transform 1s;
}
/* line 217, ../sass/dashboard.scss */
.radial-progress .circle .mask.reanimate, .radial-progress .circle .fill.reanimate {
  transition: -webkit-transform 0s;
  transition: -ms-transform 0s;
  transition: transform 0s;
}
/* line 222, ../sass/dashboard.scss */
.radial-progress .circle .mask.reset, .radial-progress .circle .fill.reset {
  -webkit-transform: rotate(0deg) !important;
  -ms-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important;
}
/* line 228, ../sass/dashboard.scss */
.radial-progress .circle .mask {
  clip: rect(0px, 120px, 120px, 60px);
}
@media (max-width: 480px) {
  /* line 228, ../sass/dashboard.scss */
  .radial-progress .circle .mask {
    clip: rect(0px, 85px, 85px, 42.5px);
  }
}
/* line 233, ../sass/dashboard.scss */
.radial-progress .circle .mask .fill {
  clip: rect(0px, 60px, 120px, 0px);
  background-color: #EA463D;
}
@media (max-width: 480px) {
  /* line 233, ../sass/dashboard.scss */
  .radial-progress .circle .mask .fill {
    clip: rect(0px, 42.5px, 85px, 0px);
  }
}
/* line 243, ../sass/dashboard.scss */
.radial-progress .inset {
  width: 110px !important;
  height: 110px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -55px 0 0 -55px !important;
  background-color: #fbfbfb;
  border-radius: 50%;
  text-align: center;
  padding-top: 35px;
}
@media (max-width: 480px) {
  /* line 243, ../sass/dashboard.scss */
  .radial-progress .inset {
    width: 66px !important;
    height: 66px !important;
    margin: -33px 0 0 -33px !important;
    line-height: 90px;
  }
}
/* line 261, ../sass/dashboard.scss */
.radial-progress .text {
  font-size: 27px;
  color: #463E3E;
  font-family: Myriad Pro Light !important;
}
@media (max-width: 480px) {
  /* line 261, ../sass/dashboard.scss */
  .radial-progress .text {
    font-size: 27px;
  }
}
