/* line 1, ../sass/register.scss */
.component {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* line 12, ../sass/register.scss */
.red-star {
  font-size: 0.25em;
  color: red;
}

/* line 17, ../sass/register.scss */
.right-label {
  padding: 7px 15px 0px 15px;
}

/* line 21, ../sass/register.scss */
.fa {
  margin-right: 8px;
}

/* line 25, ../sass/register.scss */
.radio-margin-left {
  margin-left: 10%;
}

/* line 29, ../sass/register.scss */
.item-hide {
  display: none;
}

/* line 33, ../sass/register.scss */
.form-hide {
  visibility: hidden;
  position: absolute;
}

/* line 38, ../sass/register.scss */
.login-success {
  margin-top: 100px;
  padding-left: 30%;
}
/* line 42, ../sass/register.scss */
.login-success .center {
  display: block;
}

/* line 47, ../sass/register.scss */
.role-description {
  padding-left: 10%;
}
/* line 50, ../sass/register.scss */
.role-description .center {
  display: block;
}

/* line 55, ../sass/register.scss */
.border-bottom {
  border-bottom: 1px solid #ddd;
}

/* line 60, ../sass/register.scss */
.form-group > .center {
  margin-left: 10%;
}

/* line 65, ../sass/register.scss */
.map {
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  height: 300px;
}
